In [26]:
import pandas as pd

In [3]:
df = pd.read_csv('job_data.csv')

In [4]:
df.head()

,company,job_title,location,salary,company_size,company_founded,company_type,company_industry,company_sector,company_revenue,job_description
0,Bluefin Resources4.0 ★,EMPO Reporting Analyst,Sydney,"$120,000",51 to 200 Employees,--,Company - Private,--,--,Unknown / Non-Applicable,Bluefin Resources are seeking an experienced P...
1,Macquarie Group Limited4.0 ★,Junior Data Business Analyst | Commodities and...,Sydney,"$108,167",10000+ Employees,1969,Company - Public,Investment & Asset Management,Finance,$5 to $10 billion (USD),We are a dynamic change team who works collabo...
2,ETM Group Holdings Pty Ltd,Business Analyst,Alexandria,"$90,000",NaN,NaN,NaN,NaN,NaN,NaN,ETM Group Holdings is currently searching for ...
3,Nixil4.0 ★,Junior Data Analyst: Investment Data Managemen...,Sydney,$0,Unknown,--,Company - Private,--,--,Unknown / Non-Applicable,Work options: Hybrid Our client is seeking a d...
4,TPG Telecom4.0 ★,Data & Reporting Analyst,North Sydney,"$78,772",1001 to 5000 Employees,2020,Company - Public,"Cable, Internet & Telephone Providers",Telecommunications,$2 to $5 billion (USD),Exciting time to join a top 100 ASX listed bus...

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1053 entries, 0 to 1322
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   job_title         1053 non-null   object
 1   location          1053 non-null   object
 2   salary            1053 non-null   float64
 3   company_size      1033 non-null   object
 4   company_founded   1033 non-null   object
 5   company_type      1033 non-null   object
 6   company_industry  1033 non-null   object
 7   company_sector    1033 non-null   object
 8   company_revenue   1033 non-null   object
 9   job_description   1053 non-null   object
 10  salary_hourly     1053 non-null   int64
 11  company_name      1053 non-null   object
 12  company_rating    891 non-null    float64
dtypes: float64(2), int64(1), object(10)
memory usage: 147.5+ KB

Checking for duplicates

In [66]:
df.duplicated().sum()

19

In [68]:
df = df.drop_duplicates()

In [69]:
df.duplicated().sum()

0

Company name and rating parsing

In [43]:
df['company']

0             Bluefin Resources4.0 ★
1       Macquarie Group Limited4.0 ★
2         ETM Group Holdings Pty Ltd
4                   TPG Telecom4.0 ★
5                  Sydney Water3.5 ★
                    ...
1316                Curio Group4.3 ★
1317             Bain & Company4.4 ★
1319             edX Boot Camps4.0 ★
1321          Monash University4.1 ★
1322          Monash University4.1 ★
Name: company, Length: 1053, dtype: object

In [53]:
pattern = r'(.+?)(\d+\.\d+ \★)'
df[['company_name', 'company_rating']] = df['company'].str.extract(pattern, expand=True)

# Handle entries without a rating
df['company_name'] = df['company_name'].fillna(df['company'])

#Clean up company names
df['company_name'] = df['company_name'].str.strip()

#Clean up the rating column (remove the star, strip spaces)
df['company_rating'] = df['company_rating'].str.replace('★', '').str.strip()
df['company_rating'] = df['company_rating'].astype(float)

In [ ]:
df.drop('company', axis=1, inplace=True)

Salary parsing

In [9]:
df.dropna(subset=['salary'], inplace = True)

In [24]:
def salary_parse(x):
    x = x.replace('$', '')
    x = x.replace(',', '')
    return x
salary = df['salary'].apply(salary_parse)

In [28]:
df['salary'] = salary

In [32]:
df['salary'] = df['salary'].apply(lambda x: float(x))

In [35]:
df = df[df['salary'] != 0]

In [38]:
df['salary_hourly'] = df['salary'].apply(lambda x: 1 if x < 5000 else 0)

C:\Users\alexs\AppData\Local\Temp\ipykernel_25768\3799611637.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['salary_hourly'] = df['salary'].apply(lambda x: 1 if x < 5000 else 0)

Location cleaning

In [74]:
aus_suburb_df = pd.read_excel('georef-australia-state-suburb.xlsx')

In [92]:
nsw_suburbs = set(aus_suburb_df[aus_suburb_df['Official Code State'] == "1"]['Official Name Suburb'])
vic_suburbs = set(aus_suburb_df[aus_suburb_df['Official Code State'] == "2"]['Official Name Suburb'])
qld_suburbs = set(aus_suburb_df[aus_suburb_df['Official Code State'] == "3"]['Official Name Suburb'])
sa_suburbs = set(aus_suburb_df[aus_suburb_df['Official Code State'] == "4"]['Official Name Suburb'])
wa_suburbs = set(aus_suburb_df[aus_suburb_df['Official Code State'] == "5"]['Official Name Suburb'])
tas_suburbs = set(aus_suburb_df[aus_suburb_df['Official Code State'] == "6"]['Official Name Suburb'])
nt_suburbs = set(aus_suburb_df[aus_suburb_df['Official Code State'] == "7"]['Official Name Suburb'])
act_suburbs = set(aus_suburb_df[aus_suburb_df['Official Code State'] == "8"]['Official Name Suburb'])

In [96]:
state = []
for location in df['location']:
    if location == 'New South Wales' or location in nsw_suburbs:
        state.append('NSW')
    elif location == 'Victoria' or location in vic_suburbs:
        state.append('VIC')
    elif location == 'Queensland' or location in qld_suburbs or location  == 'Brisbane':
        state.append('QLD')
    elif location == 'South Australia' or location in sa_suburbs or location == 'Adelaide':
        state.append('SA')
    elif location == 'Western Australia' or location in wa_suburbs:
        state.append('WA')
    elif location == 'Tasmania' or location in tas_suburbs:
        state.append('TAS')
    elif location == 'Northern Territory' or location in nt_suburbs or location == 'Darwin':
        state.append('NT')
    elif location == 'Australian Capital Territory' or location in act_suburbs or location == 'Canberra':
        state.append('ACT')
    elif location == 'Remote':
        state.append('remote')
    else:
        state.append(input(f'The location is {location} what state is it in?' ))

The location is Seven Hills what state is it in?NSW
The location is Fairfield what state is it in?NSW
The location is Fairfield what state is it in?NSW
The location is Australia what state is it in?AUS
The location is Fairfield what state is it in?NSW
The location is St Leonards what state is it in?NSW
The location is St Leonards what state is it in?NSW
The location is Australia what state is it in?AUS
The location is The Rocks what state is it in?NSW
The location is Rosebery what state is it in?NSW
The location is Girraween what state is it in?NSW
The location is Australia what state is it in?AUS
The location is St Leonards what state is it in?NSW
The location is Redbank what state is it in?QLD
The location is Southport what state is it in?QLD
The location is Australia what state is it in?AUS
The location is Gold Coast what state is it in?QLD
The location is Gold Coast what state is it in?QLD
The location is Cairns what state is it in?QLD
The location is Parkside what state is it in?SA
The location is Ringwood what state is it in?VIC
The location is Mulgrave what state is it in?VIC
The location is Preston what state is it in?VIC
The location is Collingwood what state is it in?VIC
The location is Springvale what state is it in?VIC
The location is Preston what state is it in?VIC
The location is Cremorne what state is it in?VIC
The location is Collingwood what state is it in?VIC
The location is Cremorne what state is it in?VIC
The location is Collingwood what state is it in?VIC
The location is Sunshine what state is it in?VIC
The location is Mulgrave what state is it in?VIC
The location is Burwood what state is it in?VIC
The location is Mulgrave what state is it in?VIC
The location is Mulgrave what state is it in?VIC
The location is Hawthorn what state is it in?VIC
The location is Somerton what state is it in?VIC
The location is Perth what state is it in?WA
The location is Perth what state is it in?WA
The location is Perth what state is it in?WA
The location is Northbridge what state is it in?WA
The location is Guildford what state is it in?WA
The location is Perth what state is it in?WA
The location is Perth what state is it in?WA
The location is Perth what state is it in?WA
The location is Perth what state is it in?WA
The location is Perth what state is it in?WA
The location is Perth what state is it in?WA
The location is Perth what state is it in?WA
The location is Perth what state is it in?WA
The location is Perth what state is it in?WA
The location is Kwinana what state is it in?
The location is Perth what state is it in?WA
The location is Perth what state is it in?WA
The location is Perth what state is it in?WA
The location is Perth what state is it in?WA
The location is Perth what state is it in?WA
The location is Northbridge what state is it in?WA
The location is Perth what state is it in?WA
The location is Perth what state is it in?WA
The location is Guildford what state is it in?WA
The location is Perth what state is it in?WA
The location is Perth what state is it in?WA
The location is Perth what state is it in?WA
The location is Perth what state is it in?WA
The location is Perth what state is it in?WA
The location is Perth what state is it in?WA
The location is Perth what state is it in?WA
The location is Perth what state is it in?WA
The location is Perth what state is it in?WA
The location is Perth what state is it in?WA
The location is Perth what state is it in?WA
The location is Australia what state is it in?AUS
The location is Perth what state is it in?WA
The location is Perth what state is it in?WA
The location is Perth what state is it in?WA
The location is Perth what state is it in?WA
The location is Perth what state is it in?WA
The location is Mulgrave what state is it in?VIC
The location is Fairfield what state is it in?NSW
The location is Australia what state is it in?AUS
The location is Mulgrave what state is it in?VIC
The location is Perth what state is it in?WA
The location is Australia what state is it in?AUS
The location is Box Hill what state is it in?VIC
The location is Clayton North what state is it in?VIC
The location is Burwood what state is it in?VIC
The location is Perth what state is it in?WA
The location is Perth what state is it in?WA
The location is Clayton North what state is it in?VIC
The location is Clayton North what state is it in?VIC

In [98]:
df['state'] = state

In [110]:
df.loc[df['state'] == '', 'state'] = 'WA'

In [116]:
df.loc[df['company_name'] == 'Map Talent', 'state'] = 'NSW'

Parsing of job description